@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');

/* BODY, INPUT */
body {
  @apply text-white bg-primary;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  box-sizing: border-box;
	font-size: 18px;
	line-height: 28px;
  position: relative;
  margin: 0;
  padding: 0;
}

input, textarea, button {
  -webkit-appearance: none;
  outline: none;
  background: transparent;
}


/* Layout */
.section-layout {
  margin: 0 auto;
  width: 80%;
  
  @include respond(desktop) {
    max-width: 1110px;
  }

  @include respond(tablet) {
    max-width: 708px;
  }

  @include respond(phone) {
    min-width: 480px;
  }

}

/* Navigation */
.navigation {
  @apply w-full flex items-center justify-between;
  
  &--top {
    margin-top: 43px;
  }

  &--bottom {
    margin-top: 47px;
  }

  @include respond(tablet) {
    &--top {
      margin-top: 29px;
    }
  
    &--bottom {
      margin-top: 47px;
    }
  }

  @include respond(phone) {
    @apply flex flex-col gap-3;
  }
}

.navigation-brand {
  @apply justify-start h-7;
}

.navigation-logo {
  @apply text-3xl;
}

.main-nav {
  @apply mr-7 h-6 z-30;
  &__items-list {
    @apply flex space-x-7 items-center justify-center;
  }
}

/* Header */
.header {
  @apply w-full;

  &-wrapper {
    margin: 0 auto;

    @include respond(desktop) {
      max-width: 1110px;
    }

    @include respond(tablet) {
      max-width: 708px;
    }
  
    @include respond(phone) {
      max-width: 343px;
    }
  }

  &__text-box {
    @apply font-bold z-20;
    position: relative;

    @include respond(desktop) {
      width: 706px;
      margin-top: 127px;
    }

    @include respond(tablet) {
      width: 445px;
      margin-top: 151px;
    }
  
    @include respond(phone) {
      text-align: center;
      width: 343px;
      margin: 0 auto;
    }

    & .heading-primary {

      @include respond(desktop) {
        font-size: 88px;
        letter-spacing: -2.5px;
        margin-bottom: 43px;
      }
  
      @include respond(tablet) {
        font-size: 72px;
        letter-spacing: -2.05px;
        margin-bottom: 60px;
      }
    
      @include respond(phone) {
        font-size: 40px;
        letter-spacing: -1.14px;
        margin-bottom: 24px;
      }
    
      &--main {
        @apply block;
      }
      &--sub {
        text-decoration: underline;
        color: var(--primary-2);
      }
    }

    & .heading-secondary {
      width: 445px;
      font-size: 18px;
      line-height: 28px;
    
      @include respond(phone) {
        width: 343px;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 24px;
      }
    }
    
  }

  &__image-box {

    @include respond(desktop) {
      position: absolute;
      width: 445px;
      height: 720px;
      left: 830px;  
      top: -43px;
    }

    @include respond(tablet) {
      position: absolute;
      width: 322px;
      height: 600px;
      left: 445.56px;
      top: -30px;
    }
  
    @include respond(phone) {
      @apply flex items-center;
      margin: 0 auto;
      position: inherit;
      width: 174px;
      height: 383px;
    }
  }

  &__cta-button {
    @apply text-justify pb-3 hover:text-primary-2 font-bold contact-me;
    font-size: 16px;
    width: 120px;
    height: 38px;

    @include respond(desktop) {
      margin-top: 66px;
      letter-spacing: 2.29px;
    }

    @include respond(tablet) {
      margin-top: 34px;
    }
  
    @include respond(phone) {
      margin: 0 auto;
      text-align: center
    }
  }
}

/* Main Content */
/* Skill Card */
.section-skills {
  @apply w-full;
  border-top: 1px solid var(--secondary-2);

  @include respond(desktop) {
    @apply grid grid-cols-3;
    grid-row-gap: 58px;
    padding-top: 72px;
    margin-top: 219px;
  }

  @include respond(tablet) {
    @apply grid grid-cols-2;
    grid-row-gap: 52px;
    padding-top: 52px;
    margin-top: 60px;
  }

  @include respond(phone) {
    @apply grid grid-cols-1 text-center;
    grid-row-gap: 24px;
    padding: 40px 0;
    margin-top: 40px;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid var(--secondary-2);
  }
}

.skill__item {
  & h2 {
    @apply heading-large;
  }

  &--experience {
    font-size: 18px;
    line-height: 28px;
  
    @include respond(phone) {
      font-size: 16px; 
      line-height: 26px;
    }
  }
}

/* Projects */
.section-projects {
  @apply w-full;

  @include respond(desktop) {
    margin-top: 140px;
  }

  @include respond(tablet) {
    margin-top: 100px;
  }

  @include respond(phone) {
    padding-top: 60px;
    width: 343px;
    margin: 0 auto;
  }
}

.project-header {
  @apply flex justify-between items-center;
  margin-bottom: 80px;

  @include respond(tablet) {
    margin-bottom: 80px;
  }

  @include respond(phone) {
    margin-bottom: 40px;
  }
}

.project-heading {
  @apply heading-xl;
}

.project-contact {
  @apply contact-me;
}

.project-main {
  @apply grid grid-cols-1 md:grid-cols-2;
  gap: 3rem;
}

.project-card {

  &__image {
    @apply cursor-pointer relative w-full;
  }

  & img {
    @apply pb-2;

    &:hover {
      @apply opacity-50 transition ease-in;
    }
  }

  & h2 {
    @apply heading-medium;
  }

  & span {
    @apply mr-2 font-medium;
    font-size: 18px;
    line-height: 28px;
  }

  &__overlay {

    @include respond(desktop) {
      @apply absolute left-0 top-0 w-full h-full opacity-0;
      background: rgb(0, 0, 0, 0.5);
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:hover {
        @apply opacity-100;
      }

      &-links {
        @apply flex flex-col items-center;
        row-gap: 48px;
        max-width: 26%;

        & a {
          @apply uppercase font-bold;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 2.29px;
          border-bottom: 3px solid var(--primary-2);
        }
      }
    }
  }

  &__links {

    @include respond(desktop) {
      display: none;
    }

    @include respond(tablet) {
      @apply flex justify-start uppercase;
      gap: 30px;
      margin-top: 20px;
    }

    @include respond(phone) {
      @apply flex justify-start uppercase;
      gap: 30px;
      margin-top: 20px;
    }
  }
}

/* Footer */
.footer {
  @apply absolute z-20 text-white bg-secondary;

  @include respond(desktop) {
    width: 1440px;
    height: 625px;
    left: 0px;
    top: 3139px;
    padding-top: 84px;
  }

  @include respond(tablet) {
    width: 768px;
    height: 806px;
    left: 0px;
    top: 2757px;
  }

  @include respond(phone) {
    width: 480px;
    height: 834px;
    left: 0px;
    top: 3750px;
  }

  &__wrapper {
    @apply h-full w-full;
    margin: 0 auto;

    @include respond(desktop) {
      max-width: 1110px;
    }
  
    @include respond(tablet) {
      max-width: 708px;
    }
  
    @include respond(phone) {
      max-width: 343px;
    }
  }
}

.contact-card {
  padding-bottom: 92px;
  border-bottom: 1px solid var(--secondary-2);

  @include respond(desktop) {
    @apply grid grid-cols-2 z-40 justify-self-stretch;
  }

  @include respond(tablet) {
    @apply flex flex-col justify-center items-center;
  }

  @include respond(phone) {
    @apply flex flex-col justify-center items-center;
  }
  
  &__left {

    @include respond(desktop) {
      width: 445px !important;
    }
  
    @include respond(tablet) {
      width: 445px !important;
    }
  
    @include respond(phone) {
      width: 343px !important;
    }

    & h2 {
      @apply heading-xl;
      margin-bottom: 36px;
    }

    p {
      @apply w-full;
      
      @include respond(phone) {
        max-width: 343px;
      }

    }
  }

  &__right {
    @apply uppercase;

    @include respond(desktop) {
      @apply justify-self-end;
      width: 445px !important;
    }
  
    @include respond(tablet) {
      @apply justify-self-center;
      width: 445px !important;
      margin-top: 48px;
    }
  
    @include respond(phone) {
      width: 343px !important;
      margin-top: 48px;
    }
  }
}

.input-group {
  @apply flex flex-col align-top;
  font-size: 16px;
  line-height: 26px;
  gap: 32px;

  &__item {
    border-bottom: 1px solid var(--secondary-2);
    width: 100%;
    height: 43px;
    padding-bottom: 5px;
  }

  &__submit {
    text-align: right;
    
    & button {
      border-bottom: 3px solid var(--primary-2);

      &:hover {
        @apply text-primary-2;
      }
    }
  }
}

/* MOBILE */
