@import "./abstracts/mixin.scss";
@import "./abstracts/variables.scss";
@import "./base/base.scss";
@import "./base/typography.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-xl {
    font-weight: bold;
    line-height: normal;

    @include respond(desktop) {
      font-size: 88px;
      letter-spacing: -2.5px;
    }
  
    @include respond(tablet) {
      font-size: 72px;
      letter-spacing: -2.05px;
    }
  
    @include respond(phone) {
      font-size: 40px; 
      letter-spacing: -1.14px;
    }
  }

  .heading-large {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;

    @include respond(phone) {
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -1px;
    }
  }

  .heading-medium {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 32px;
  }

  .underlined-item {
    @apply z-20 text-justify pb-3;
    border-bottom: 3px solid var(--primary-2);
  }

  .contact-me {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.29px;
    border-bottom: 3px solid var(--primary-2);
  }
}

